.contactPage {
  display: flex;
}

.inputField {
  width: 544px;
  height: 44px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 8px;
  background: #fff;
  font-size: 16px;
  color: #333;
}

.title {
  font-size: 48px;
  font-weight: bold;
  color: #333;
  margin-bottom: 40px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contactContainer {
  width: 1400px;
  height: 835px;
  background: #ffe0e0;
  border-radius: 41px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
}

.formContainer {
  background-color: #ffe0e0;
  width: 100%;
  max-width: 500px;
  padding: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  left: 25%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
  width: 229px;
  height: 57px;
  border-radius: 50px;
  background-color: #ffffff;
  color: #161616;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: #8fff93;
  transform: scale(1.05);
}

.footer {
  right: 12%;
}

@media screen and (max-width: 1440px) {
  .footer {
    left: 10%;
  }
}
